.selector-for-some-widget {
    box-sizing: content-box;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

    /* The above will be the default style and applied to everything in the document*/
    /* This will put a white margin all around our canvas*/
}

.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: blue;
}

.inner_header{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;

    /* The whole height of the header will be 1000 pixels wide, and display, block and margin will centre the header horizontally within the page*/
}

.logo_container{
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: "Open Sans", serif;
    font-size: 32px;
    font-weight: 200;

    /*This will centre the heading within the header*/
}

.logo_container h1 span{
    font-weight: 800;
}

.navigation{
    float: right;
    height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a:last-child{
    padding-right: 0;
}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    colour: blue;
    font-family: "Open Sans", serif;
    font-size: 16px;
}

/* End of Header style */

.footer {
    width: 100vw;
    display: block;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
    background-color: red;
}

.inner_footer {
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}

.inner_footer .logo_container h1{
    font-family: "Open Sans", serif;
    font-size: 22px;
    colour: white;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.inner_footer .footer_third{
    width: calc(21.666666667 - 20px);
    margin-right: 10px;
    float: left;
    height: 100%;
}

.inner_footer .footer_third:last-child {
    margin-right: 0;
}

.inner_footer .footer_third h1{
    font-family: "Open Sans", serif;
    font-size: 22px;
    colour: white;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.inner_footer .footer_third a{
    font-family: "Open Sans", serif;
    font-size: 18px;
    colour: white;
    display: block;
    font-weight: 200;
    width: 100%;
    padding-bottom: 5px;
}

/*Start of Homepage style*/

